@model ooadproject.Models.Exam

@{
    ViewData["Title"] = "Edit";
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="TeacherHome">Početna</a>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Izvještaji
            </button>
            <div class="collapse" id="home-collapse1">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!--Display all courses a teacher is teaching-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a asp-controller="Course" asp-action="CourseStatus" asp-route-id="@course.ID" class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse2" aria-expanded="true">
                <i class="fa-solid fa-arrow-right" style="font-size: 1rem;"></i>
                Unos rezultata studenata
            </button>
            <div class="collapse" id="home-collapse2">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <!-- For each course in Model.CourseNames display a link to the course page-->
                    @foreach (var course in ViewBag.Courses)
                    {
                        <li>
                            <a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'">@course.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Exam" asp-action="Index" data-viewbag="@ViewBag.">Ispiti</a>
        </li>
    </ul>
}

<h1>Uredite ispit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group pb-2">
                <label asp-for="CourseID" class="control-label pb-1">Predmet</label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="Time" class="control-label pb-1">Vrijeme</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="Type" class="control-label pb-1">Tip ispita</label>
                <select asp-for="Type" class="form-control" asp-items="ViewBag.ExamTypes"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="TotalPoints" class="control-label pb-1">Ukupni bodovi</label>
                <input asp-for="TotalPoints" class="form-control" />
                <span asp-validation-for="TotalPoints" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="MinimumPoints" class="control-label pb-1">Prag</label>
                <input asp-for="MinimumPoints" class="form-control" />
                <span asp-validation-for="MinimumPoints" class="text-danger"></span>
            </div>
            <div class="form-group pt-1">
                <input type="submit" value="Sačuvaj Izmjene" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="pt-2">Vratite se</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
