<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ooadproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ooadproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-5" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-graduation-cap fa-2x"></i>
                </a>

                <a class="navbar-brand fs-1" asp-area="" asp-controller="Home" asp-action="Index">Zamger</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ">
                <h1>Menu</h1>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Home" asp-action="StudentServiceHome">Početna</a>
                        </li>
                        <li class="mb-1">
                            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Student" asp-action="Index">Studenti</a>
                        </li>
                        <li class="mb-1">
                            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Teacher" asp-action="Index">Nastavnici</a>
                        </li>
                        <li class="mb-1">
                            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-controller="Course" asp-action="Index">Predmeti</a>
                        </li>
                        <li class="mb-1">
                            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Zahtjevi</a>
                        </li>

                    </ul>
            </div>
            <main role="main" class="col-md-9">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2023 - ooadproject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>