@using Microsoft.AspNetCore.Identity
@*using WebApp1.Areas.Identity.Data *@ 
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
            <div style="position:relative;display:inline-block;">
                <button class="btn notif-btn" style="z-index=999;">
                    <i class="fas fa-bell"></i>
                </button>
                <div style="position:absolute;top:30px;right:0;background-color:white;border:1px solid black;padding:10px;z-index:999;visibility:hidden;">
                    <div>Notification 1</div>
                    <div>Notification 2</div>
                    <div>Notification 3</div>
                </div>
            </div>
            <script>
                const bellIcon = document.querySelector('.notif-btn');
                const notificationPanel = document.querySelector('[style="position:absolute;top:30px;right:0;background-color:white;border:1px solid black;padding:10px;z-index:999;visibility:hidden;"]');

                bellIcon.onclick = function () {
                    if (notificationPanel.style.visibility === "hidden") {
                        notificationPanel.style.visibility = "visible";
                    } else {
                        notificationPanel.style.visibility = "hidden";
                    }
                }
            </script>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
