@model IEnumerable<ooadproject.Models.Request>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStudentService.cshtml";
}

<h1>Aktivni zahtjevi</h1>
<hr />
<table class="table table-hover">
    <tr>
        <th>Zahtjev</th>
        <th>Student</th>
        <th>Actions</th>
    </tr>
    @foreach (Request request in ViewBag.PendingRequests)
    {
        <tr>
            <td>
                @if (request.Type is RequestType.PassedExamsTestimony)
                {
                    @Html.Raw("Uvjerenje o položenim predmetima");
                }
                else
                {
                    @Html.Raw("Potvrda o redovnom studiju");
                }
            </td>
            <!-- Find Student where his id matches request.RequesterID-->
            var student = ViewBag.Students.Where(s => s.Id == request.RequesterID).FirstOrDefault();
            <td>student.Name</td>
            <td>
                <a asp-controller="" asp-action="">Potvrdi</a>
                <a asp-controller="" asp-action="">Odbij</a>
                <a asp-controller="Request" asp-action="Details" asp-route-id="@request.ID">Detalji</a>
            </td>
        </tr>
    }
</table>



