@model IEnumerable<ooadproject.Models.Student>
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    ViewData["Title"] = "Index";
}
@section SideMenu {
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a class="btn align-items-center rounded-active" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="/Student/Index">Početna</a>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Predmeti
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="padding-left: 1rem;">
                    <li><a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Pregled predmeta</a></li>
                    <li><a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Pregled predmeta</a></li>
                    <li><a class="link-dark rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Pregled predmeta</a></li>
                    <!-- For each course in Model.CourseNames display a link to the course page 
                        foreach(var courseName in Model.CourseNames)
{
                        <li><a href="#" class="link-dark rounded text-decoration-none">courseName</a></li>
                    }
                    -->
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Aktuelni zahtjevi</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-decoration-none" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Prijava ispita</a>
        </li>
        <li class="mb-1">
            <a class="btn align-items-center rounded text-deco" onmouseover="this.style.backgroundColor='lightblue'" onmouseout="this.style.backgroundColor='white'" asp-page="">Pregled rezultata studija</a>
        </li>
    </ul>
}
@if (SignInManager.IsSignedIn(User))
{
    <h1 class="pb-3">Dobro došli, @User.Identity?.Name!</h1>
    <h2>Obavijesti</h2>
}
